.input-group {
  .search-bar:focus {
    border-color: rgba(0, 123, 255, 0.25);
    box-shadow: none;
  }
}
.focused {
  border-radius: 5px; /* ← 더 둥글게 만들기 */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  transition: box-shadow 0.2s ease;
}
