html,
body,
#root {
  width: 300px;
  height: 400px;
  margin: 0;
  padding: 0;
}

a.dropdown-toggle::after {
  display: none;
}
.dropdown-item:active {
  background-color: inherit !important;
}

.dropdown-light .dropdown-item:active {
  color: black;
}
